<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <!-- Content -->
    <section id="dashboardSection" th:attr="authorities=${authorities}" class="container" layout:fragment="content">
      <div
        class="flex items-center justify-between px-4 py-4 border-b lg:py-6 dark:border-primary-darker"
      >
        <h1 class="text-2xl font-semibold">Dashboard</h1>
      </div>
      <div class="mt-2">
        <div class="grid grid-cols-3 gap-5 mx-10">
          <div
            class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker"
          >
            <div>
              <h6
                class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light"
              >
                Trainings This Year
              </h6>
              <span class="text-xl font-semibold">[[${training}]]</span>
            </div>
            <div>
              <span>
                <svg
                  class="w-12 h-12 text-gray-300 dark:text-primary-dark"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                  />
                </svg>
              </span>
            </div>
          </div>
          <div
            class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker"
          >
            <div>
              <h6
                class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light"
              >
                Users Trainee
              </h6>
              <span class="text-xl font-semibold">[[${trainee}]]</span>
            </div>
            <div>
              <span>
                <svg
                  class="w-12 h-12 text-gray-300 dark:text-primary-dark"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                  />
                </svg>
              </span>
            </div>
          </div>
          <div
            class="flex items-center justify-between p-4 bg-white rounded-md dark:bg-darker"
          >
            <div>
              <h6
                class="text-xs font-medium leading-none tracking-wider text-gray-500 uppercase dark:text-primary-light"
              >
                Users Trainer
              </h6>
              <span class="text-xl font-semibold">[[${trainer}]]</span>
            </div>
            <div>
              <span>
                <svg
                  class="w-12 h-12 text-gray-300 dark:text-primary-dark"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                  />
                </svg>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-10 mx-10">
        <div
          class="col-span-2 bg-white rounded-md dark:bg-darker"
          x-data="{ isOn: false }"
        >
          <!-- Card header -->
          <div
            class="flex items-center justify-between p-4 border-b dark:border-primary"
          >
            <h4 class="text-lg font-semibold text-gray-500 dark:text-light">
              Trainings This Year
            </h4>
          </div>
          <!-- Chart -->
          <div class="relative p-4 h-72">
            <canvas id="barChart"></canvas>
          </div>
        </div>
      </div>
    </section>

    <div layout:fragment="script">
      <!-- <script th:src="@{/js/region.js}"></script> -->
    </div>
  </body>
</html>
