<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Training</title>
</head>
<body>
  <p th:text="${title}"></p>
  <p th:text="${startDate}"></p>
  <p th:text="${endDate}"></p>
  <p th:text="${quotaDate}"></p>
  <a th:href="@{http://localhost:9090/training}">Link</a>
</body>
</html>