<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <head>
    <title>Training</title>
  </head>
  <body>
    <!-- Content -->
    <!-- Content -->
    <section class="container py-10" layout:fragment="content">
      <div class="mx-10">
        <div class="flex justify-between">
          <p class="font-bold text-4xl">Attended Training</p>
        </div>

        <!-- List of Trainings -->
        <div class="grid grid-cols-3 gap-4 py-6">
          <div th:each="training: ${trainings}" class="">
            <div
              class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-pink-600 flex-1"
            >
              <div class="">
                <img
                  alt="..."
                  src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80"
                  class="w-full align-middle rounded-t-lg"
                />
                <blockquote class="relative p-8 mb-4">
                  <svg
                    preserveAspectRatio="none"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 583 95"
                    class="absolute left-0 w-full block"
                    style="height: 95px; top: -94px"
                  >
                    <polygon
                      points="-30,95 583,95 583,65"
                      class="text-pink-600 fill-current"
                    ></polygon>
                  </svg>
                  <div
                    class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
                  >
                    <a
                      th:href="@{'http://localhost:9090/training/{id}'(id=${training.id})}"
                    >
                      <h5
                        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
                        th:text="${training.title.length() >= 20 ? training.title.substring(0, 20) : training.title}"
                      ></h5>
                    </a>
                    <p
                      class="mb-3 font-normal text-gray-700 dark:text-gray-400"
                      th:text="${training.description.length() >= 30 ? training.description.substring(0, 25) : training.description}"
                    ></p>
                    <div class="flex gap-3">
                      <a
                        th:href="@{'/survey/create/' + ${trainingRegisterId} }"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover-bg-blue-800 focus:ring-4 focus:outline-none focus-ring-blue-300 dark:bg-blue-600 dark:hover-bg-blue-700 dark:focus-ring-blue-800"
                      >
                        satisfaction survey
                      </a>
                      <a
                        th:href="@{'http://localhost:9090/training/{id}'(id=${training.id})}"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover-bg-blue-800 focus:ring-4 focus:outline-none focus-ring-blue-300 dark:bg-blue-600 dark:hover-bg-blue-700 dark:focus-ring-blue-800"
                      >
                        Read more
                        <svg
                          class="w-3.5 h-3.5 ml-2"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 14 10"
                        >
                          <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M1 5h12m0 0L9 1m4 4L9 9"
                          />
                        </svg>
                      </a>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
        <!-- End List of Trainings -->
      </div>
    </section>

    <div layout:fragment="script">
      <!-- <script th:src="@{/js/region.js}"></script> -->
      <script th:src="@{/js/training.js}"></script>
    </div>
  </body>
</html>
