<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
  <link rel="stylesheet"
        href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">
  <title>Employee</title>
</head>
<body>
<div class="py-10" layout:fragment="content">
  <section class=" mx-auto">
    <div class="w-full lg:w-8/12 px-4 mx-auto mt-6">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
        <div class="rounded-t bg-white mb-0 px-6 py-6">
          <div class="text-center flex justify-between">
            <h6 class="text-blueGray-700 text-xl font-bold">
              Update Profile
            </h6>
            <button
                    id="updateProfileBtn"
                    class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                    type="button">
              Submit
            </button>
          </div>
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <form th:object="${employee}">
            <input type="hidden" id="updateProfileId" th:field="*{id}">
            <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
              Information
            </h6>
            <div class="flex flex-wrap">
              <div class="w-full lg:w-6/12 px-4">
                <div class="relative w-full mb-3">
                  <label for="updateProfileName" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Name
                  </label>
                  <input
                          id="updateProfileName"
                          th:field="*{name}"
                          type="text"
                          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                </div>
              </div>
              <div class="w-full lg:w-6/12 px-4">
                <div class="relative w-full mb-3">
                  <label for="updateProfileEmail" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Email address
                  </label>
                  <input
                          th:field="*{email}"
                          id="updateProfileEmail"
                          type="email"
                         class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                </div>
              </div>
              <div class="w-full lg:w-6/12 px-4">
                <div class="relative w-full mb-3">
                  <label for="updateProfilePhone" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Phone
                  </label>
                  <input
                          th:field="*{phone}"
                          id="updateProfilePhone"
                          type="text"
                         class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
>
                </div>
              </div>
              <div class="w-full lg:w-6/12 px-4">
                <div class="relative w-full mb-3">
                  <label for="updateProfileAddress" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Last Name
                  </label>
                  <input
                          th:field="*{address}"
                          id="updateProfileAddress"
                          type="text"
                         class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                         value="Jesse">
                </div>
              </div>
              <div class="w-full lg:w-6/12 px-4">
                <div class="relative w-full mb-3">
                  <label for="updateProfileUsername" class="block uppercase text-blueGray-600 text-xs font-bold mb-2" htmlfor="grid-password">
                    Username
                  </label>
                  <input
                          th:field="*{user.username}"
                          id="updateProfileUsername"
                          type="text"
                          class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                          value="Jesse">
                </div>
              </div>
            </div>

            <hr class="mt-6 border-b-1 border-blueGray-300">
          </form>
        </div>
      </div>
    </div>
  </section>
</div>

<div layout:fragment="script">
  <script th:src="@{/js/employee.js}"></script>
</div>
</body>
</html>