<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div th:fragment="footer">
      <div class=" p-4 bg-white dark:bg-darker dark:border-primary-darker fixed bottom-0 w-full">
        <footer
          class="flex items-center gap-3 "
        >
          <div>TRAINING MANAGEMENT &copy; 2023</div>
          <div>
            Made by
            <a
              href="https://metrodataacademy.id/metrodata-itcamp/mcc/java"
              target="_blank"
              class="text-blue-500 hover:underline"
              >MCC 81</a
            >
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
