<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:fragment="footer">
        <footer
            class="flex items-center justify-between px-4 bg-white border-t dark:bg-darker dark:border-primary-darker fixed bottom-0"
          >
            <div>K-WD &copy; 2021</div>
            <div>
              Made by
              <a
                href="https://github.com/Kamona-WD"
                target="_blank"
                class="text-blue-500 hover:underline"
                >Ahmed Kamel</a
              >
            </div>
          </footer>
    </div>
</body>
</html>