<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <head>
    <title>Detail Employee</title>
  </head>
  <body>
    <div class="container py-5" layout:fragment="content">
      <div
        class="w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
      >
        <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">
          Detail Employee
        </h5>

        <div class="flex items-center h-screen w-full justify-center">
          <div class="max-w-full">
            <div class="bg-gray-100 shadow-xl rounded-lg py-2">
              <div class="photo-wrapper p-2">
                <img
                  class="w-32 h-32 rounded-full mx-auto"
                  th:src="@{/img/kosong.jpg}"
                  alt="profile"
                />
              </div>
              <div class="p-2">
                <h3
                  class="text-center text-2xl text-gray-900 font-medium leading-8"
                  th:text="${employee.name}"
                ></h3>
                <div class="text-center text-gray-400 text-xs font-semibold">
                  <p th:text="${employee.jobPosition}"></p>
                </div>
                <table class="text-left my-3">
                  <tbody>
                   <div>
                    <tr>
                        <td class="px-2 py-2 text-gray-500 font-semibold text-xl">
                          Address :
                        </td>
                        <td class="px-2 py-2 text-lg dark:text-black" th:text="${employee.address}"></td>
                      </tr>
                      <tr>
                        <td class="px-2 py-2 text-gray-500 font-semibold text-xl">
                          Phone :
                        </td>
                        <td class="px-2 py-2 text-lg dark:text-black" th:text="${employee.phone}"></td>
                      </tr>
                      <tr>
                        <td class="px-2 py-2 text-gray-500 font-semibold text-xl">
                          Email :
                        </td>
                        <td class="px-2 py-2 text-lg dark:text-black" th:text="${employee.email}"></td>
                      </tr>
                      <tr>
                        <td class="px-2 py-2 text-gray-500 font-semibold text-xl">
                          Username :
                        </td>
                        <td class="px-2 py-2 text-lg dark:text-black" th:text="${employee.user.username}"></td>
                      </tr>
                   </div>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
