<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/main}"
>
  <head>
    <title>Update Employee</title>
  </head>
  <body>
    <section class="container py-5" layout:fragment="content">
      <div
        class="w-full p-4 text-center bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700"
      >
        <h5 class="mb-2 text-3xl font-bold text-gray-900 dark:text-white">
          Update Employee
        </h5>
        <form th:object="${employee}">
          <input type="hidden" id="updateEmployeeId" th:field="*{id}">
          <div>
            <label
              for="updateEmployeeName"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your Name</label
            >
            <input
              type="text"
              name="name"
              id="updateEmployeeName"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              placeholder="Name"
              required
              th:field="*{name}"
            />
          </div>
          <div>
            <label
              for="updateEmployeePhone"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your Phone</label
            >
            <input
              type="text"
              name="phone"
              id="updateEmployeePhone"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              placeholder="Phone"
              required
              th:field="*{phone}"
            />
          </div>
          <div>
            <label
              for="updateEmployeeEmail"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your email</label
            >
            <input
              type="email"
              name="email"
              id="updateEmployeeEmail"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              placeholder="name@company.com"
              required
              th:field="*{email}"
            />
          </div>
          <div>
            <label
              for="updateEmployeeAddress"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your Address</label
            >
            <input
              type="text"
              name="address"
              id="updateEmployeeAddress"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              placeholder="address"
              required
              th:field="*{address}"
            />
          </div>
          <div>
            <label
              for="updateEmployeeJobPosition"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your Job Position</label
            >
            <input
              type="text"
              name="jobPosition"
              id="updateEmployeeJobPosition"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              placeholder="Job-Position"
              required
              th:field="*{jobPosition}"
            />
          </div>
          <div>
            <label
              for="updateEmployeeUsername"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your Username</label
            >
            <input
              type="text"
              name="username"
              id="updateEmployeeUsername"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
              placeholder="Username"
              required
              th:field="*{user.username}"
            />
          </div>
          <div>
            <label
              for="updateEmployeePassword"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your password</label
            >
            <input
              type="password"
              name="password"
              id="updateEmployeePassword"
              placeholder="••••••••"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
            />
          </div>

          <button
            type="submit"
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            id="updateEmployeeButton"
          >
            Save
          </button>
        </form>
      </div>
    </section>
    <div layout:fragment="script">
      <script th:src="@{/js/employee.js}"></script>
    </div>
  </body>
</html>
