<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
  <head>
    <title>[[${isActive}]]</title>
  </head>
  <body>
    <!-- Content -->
    <section class="container mx-10 mt-5" layout:fragment="content">
      <div class="d-flex justify-content-between align-items-center">
        <h1>List of Region</h1>
        <!-- Button create modal -->
        <a
          href="#"
          class="btn btn-success fw-bold"
          data-bs-toggle="modal"
          data-bs-target="#createRegionModal"
        >
          + Add Region
        </a>
      </div>
      <table
        class="table table-hover table-bordered table-striped text-center mt-3 pt-3"
        id="table-region"
      >
        <thead class="table-dark">
          <tr>
            <th class="col-2 text-center">No</th>
            <th class="col-5 text-center">Name</th>
            <th class="col-5 text-center">Action</th>
          </tr>
        </thead>
      </table>

      <!-- Modal Detail -->
      <!-- <div
        class="modal fade"
        id="detail"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Region Details
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p><strong>ID:</strong> <span id="regionId"></span></p>
              <p>
                <strong>Name:</strong>
                <span id="regionName"></span>
              </p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
          </div>
        </div>
      </div> -->

      <!-- Modal Create -->
      <!-- <div
        class="modal fade"
        id="createRegionModal"
        tabindex="-1"
        aria-labelledby="createRegionModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="createRegionModalLabel">
                Create Region
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <!-- Add form fields for creating a region -->
              <!-- <form>
                <div class="mb-3">
                  <label for="regionNameInput" class="form-label"
                    >Region Name:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="regionNameInput"
                    placeholder="Enter Region Name"
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                id="saveRegionButton"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div> -->

      <!-- Modal Update -->
      <!-- <div
        class="modal fade"
        id="updateRegionModal"
        tabindex="-1"
        aria-labelledby="updateRegionModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateRegionModalLabel">
                Update Region
              </h5>
              <button
                type="button"
                class="close"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="updateRegionForm">
                <input type="hidden" id="updateRegionId" />
                <div class="mb-3">
                  <label for="updateRegionName" class="form-label"
                    >Region Name:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="updateRegionName"
                    name="name"
                    required
                  />
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                id="saveUpdateButton"
              >
                Save
              </button>
            </div>
          </div>
        </div>
      </div> -->
    </section>

    <div layout:fragment="script">
      <script th:src="@{/js/region.js}"></script>
    </div>
  </body>
</html>
